<h1>Enter a Scrabble for me to Word!</h1>
  <form action='/scrabble'>
    <div class="form-group">
      <label for="name">Scrable</label>
      <input id="word" name="word" class="form-control" type="word">
    </div>
    <button type="submit" class="btn btn-success">Word!</button>
  </form>
